@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://seeklogo.com/images/B/bear-logo-F1EDE502DC-seeklogo.com.png" alt="logo" width="200">
    <h1 class="display-5 fw-bold">ZooBazaar</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This is the official ZooBazaar employee website</p>

    </div>
  </div>

